In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
import seaborn as sb

In [2]:
df1= pd.read_csv('temp_3.csv')

In [3]:
df1.head(5)

,post_id,context,like_count,comments_count,hashtags,ins_date,ins_time,temp1,temp2,new_movie_id,title,runtime,genre,director,stars,outline
0,1,Seeing DisneyNature's Penguins in IMAX! Always...,10,0,penguins,2019-04-17,23:10:46,Penguins,Penguins,0,Penguins,76 min,Documentary,Alastair Fothergill|Jeff Wilson,Ed Helms,The story of Steve; an Adélie penguin; on a qu...
1,44,Where’s your #tropical #oasis ?? #comment #tro...,30,0,penguins,2019-05-30,23:10:46,Penguins,Penguins,0,Penguins,76 min,Documentary,Alastair Fothergill|Jeff Wilson,Ed Helms,The story of Steve; an Adélie penguin; on a qu...
2,57,RIP Tampa and Pittsburgh.\n.\n.\n.\nLots of ta...,5,0,penguins,2019-06-12,23:10:46,Penguins,Penguins,0,Penguins,76 min,Documentary,Alastair Fothergill|Jeff Wilson,Ed Helms,The story of Steve; an Adélie penguin; on a qu...
3,70,Catch you on the flip side! Follow Steve as he...,11,0,penguins,2019-06-25,23:10:46,Penguins,Penguins,0,Penguins,76 min,Documentary,Alastair Fothergill|Jeff Wilson,Ed Helms,The story of Steve; an Adélie penguin; on a qu...
4,93,#penguin #penguins #penguinsofantarctica #peng...,7,0,penguins,2019-07-18,23:10:46,Penguins,Penguins,0,Penguins,76 min,Documentary,Alastair Fothergill|Jeff Wilson,Ed Helms,The story of Steve; an Adélie penguin; on a qu...

In [7]:
df2=df1.drop(['context', 'like_count', 'comments_count','hashtags','ins_date','ins_time','temp1','temp2','title','runtime','genre','director','stars','outline'], axis=1)

In [10]:
df3=df2[['new_movie_id','post_id']]

In [12]:
df3

    new_movie_id  post_id
0              0        1
1              0       44
2              0       57
3              0       70
4              0       93
5              1      117
6              1      125
7              1      153
8              1      172
9              1      186
10             2      190
11             2      208
12             2      240
13             2      254
14             2      260
15             3      286
16             3      299
17             3      310
18             3      341
19             4      352
20             4      355
21             4      358
22             4      373
23             5      376
24             5      386
25             5      387
26             5      391
27             5      410
28             6      438
29             6      447
..           ...      ...
65            15      991
66            15     1022
67            16     1033
68            16     1036
69            18     1037
70            16     1038
71            16     1053
72            16     1078
73            18     1088
74            16     1090
75            17     1109
76            17     1128
77            17     1134
78            17     1137
79            17     1141
80            18     1150
81            18     1161
82            18     1179
83            16     1191
84            18     1192
85            16     1193
86            18     1207
87            19     1226
88            19     1255
89            19     1280
90            19     1313
91            19     1327
92            20     1341
93            20     1358
94            20     1362

[95 rows x 2 columns]

In [13]:
df3.to_csv('movie_junc_ins.csv', sep=',',index=False)