# Import tools

In [3]:
from bs4 import BeautifulSoup as soup
from urllib.request import urlopen as uReq

# Read page

In [4]:
my_url = 'https://www.imdb.com/movies-in-theaters/?ref_=cs_inth'
uClient = uReq( my_url )
page_html = uClient.read()
uClient.close()

In [5]:
page_soup = soup(page_html,"html.parser")

In [7]:
a = page_soup.body.findAll("div",{"class":"list_item even"})

In [8]:
b = page_soup.body.findAll("div",{"class":"list_item odd"})

In [9]:
eg=a[0]
eg

<div class="list_item even" itemscope="" itemtype="http://schema.org/Movie">
<table border="0" cellpadding="0" cellspacing="0" class="nm-title-overview-widget-layout">
<tbody>
<tr>
<td id="img_primary" rowspan="2" valign="top">
<div class="image">
<a href="/title/tt8080302/"> <div class="hover-over-image zero-z-index">
<img alt="Penguins (2019) Poster" class="poster shadowed" height="209" src="https://m.media-amazon.com/images/M/MV5BMjA4NDc2Njc3MV5BMl5BanBnXkFtZTgwMTcyNTAwNzM@._V1_UY209_CR0,0,140,209_AL_.jpg" title="Penguins (2019)" width="140"/>
</div>
</a> </div>
</td>
<td class="overview-top">
<h4><a href="/title/tt8080302/" title="Penguins (2019)"> Penguins (2019)</a><span> - [Opens Apr. 17]</span></h4>
<p class="cert-runtime-genre">
<img alt="Certificate G" class="absmiddle certimage" src="https://m.media-amazon.com/images/G/01/imdb/images/certificates/us/g-1826671973._CB483414254_.png" title="G"/>
<time datetime="PT76M">76 min</time>
                                  -
                                <span>Documentary</span>
</p>
<div class="rating_txt">
<span class="metascore favorable">66        </span>
        Metascore
                        </div>
<div class="outline">
    The story of Steve, an Adélie penguin, on a quest to find a life partner and start a family. When Steve meets with Wuzzo the emperor penguin they become friends. But nothing comes easy in the icy Antarctic.                    </div>
<div class="txt-block">
<h5 class="inline">Directors:</h5>
<span>
<a href="/name/nm0288144/">Alastair Fothergill</a> </span>
<span class="ghost">|</span>
<span>
<a href="/name/nm2613148/">Jeff Wilson</a> </span>
</div>
<div class="txt-block">
<h5 class="inline">Stars:</h5>
<a href="/name/nm1159180/">Ed Helms</a>
</div>
</td>
</tr>
<tr>
<td class="overview-bottom">
<script>
    if (typeof uet == 'function') {
      uet("bb", "SmallTrailerWidget", {wb: 1});
    }
</script>
<a class="btn2 btn2_simple small title-trailer video-modal" data-context="imdb" data-video="vi661633049" href="/video/imdb/vi661633049" itemprop="trailer"> Watch Trailer
</a><script>
    if (typeof uet == 'function') {
      uet("be", "SmallTrailerWidget", {wb: 1});
    }
</script>
<script>
    if (typeof uex == 'function') {
      uex("ld", "SmallTrailerWidget", {wb: 1});
    }
</script>
<span class="wlb_wrapper">
<a class="wlb_watchlist_lite" data-caller-name="Title" data-size="small" data-tconst="tt8080302">
</a>
</span>
<a class="btn2 btn2_simple small" href="/showtimes/title/tt8080302/"> Get Tickets</a>
</td>
</tr>
</tbody>
</table>
</div>

## title

In [10]:
eg.tbody.h4.a.text.strip()

'Penguins (2019)'

## time

In [11]:
eg.tbody.p.time.text

'76 min'

## genre

In [12]:
genre1 = eg.tbody.p.findAll("span")
l1=len(genre1)
l1

1

In [13]:
i=0
genre=''
while i<l1:
    genre+=str(genre1[i].text.strip())
    if i==l1:
        break
    i+=1

In [14]:
genre

'Documentary'

## outline

In [15]:
eg.tbody.find('div',{"class":"outline"}).text.strip()

'The story of Steve, an Adélie penguin, on a quest to find a life partner and start a family. When Steve meets with Wuzzo the emperor penguin they become friends. But nothing comes easy in the icy Antarctic.'

## director

In [16]:
people = eg.tbody.findAll('div',{'class':'txt-block'})

In [17]:
people[0]

<div class="txt-block">
<h5 class="inline">Directors:</h5>
<span>
<a href="/name/nm0288144/">Alastair Fothergill</a> </span>
<span class="ghost">|</span>
<span>
<a href="/name/nm2613148/">Jeff Wilson</a> </span>
</div>

In [18]:
p1=people[0].findAll('a')
len(p1)

2

In [19]:
d=0
director=''
while d<len(p1):
    director+=str(p1[d].text.strip())
    if d==len(p1):
        break
    d+=1

In [20]:
director

'Alastair FothergillJeff Wilson'

## stars

In [21]:
people[1]

<div class="txt-block">
<h5 class="inline">Stars:</h5>
<a href="/name/nm1159180/">Ed Helms</a>
</div>

In [22]:
p2=people[1].findAll('a')
len(p2)

1

In [23]:
d=0
stars=''
while d<len(p2):
    stars+=str(p2[d].text.strip())
    stars+=str('|')
    if d==len(p2):
        break
    d+=1

In [24]:
stars

'Ed Helms|'

## open a csv

In [25]:
filename = "new_movie.csv"
f = open(filename,"w")

## write heading

In [26]:
headers = "title,runtime,genre,director,stars,outline\n"
f.write(headers)

43

## write content

the website divide all the movie in even & odd order for design purpose, so there are 2 'for' loop down here

In [27]:
containers = page_soup.body.findAll("div",{"class":"list_item even"})
for container in containers: #for all the element in containers
    title = container.tbody.h4.a.text.strip() #title
    runtime = container.tbody.p.time.text #runtime
    genre1 = container.tbody.p.findAll("span") #genre
    #movies usually have multiple genres, wirte all the genre in a string
    l1=len(genre1)
    i=0
    genre=''
    while i<l1:
        genre+=str(genre1[i].text.strip())
        if i==l1:
            break
        i+=1
    
    outline = container.tbody.find('div',{"class":"outline"}).text.strip() #outline
    #movie usually have multiple directors & actors, write all directors & actors in 2 strings
    people = container.tbody.findAll('div',{'class':'txt-block'})
    
    p1=people[0].findAll('a')
    d=0
    director=''
    while d<len(p1):
        director+=str(p1[d].text.strip())
        if d==len(p1):
            break
        if d!=len(p1)-1:
            director+=str('|')
        d+=1
    
    p2=people[1].findAll('a')
    d=0
    stars=''
    while d<len(p2):
        stars+=str(p2[d].text.strip())
        if d==len(p2):
            break
        if d!=len(p2)-1:
            stars+=str('|')
        d+=1
    #write the result in csv file
    f.write(title.replace(","," ") + "," + runtime + "," + genre + "," + director + "," + stars + "," + outline.replace(",",";") + "\n")

In [28]:
#the website divide all the movie in even & odd order for design purpose, so there are 2 'for' loop down here
#this one is similar to the above one
containers = page_soup.body.findAll("div",{"class":"list_item odd"})
for container in containers:
    title = container.tbody.h4.a.text.strip()
    runtime = container.tbody.p.time.text
    genre1 = container.tbody.p.findAll("span")
    
    l1=len(genre1)
    i=0
    genre=''
    while i<l1:
        genre+=str(genre1[i].text.strip())
        if i==l1:
            break
        i+=1
    
    outline = container.tbody.find('div',{"class":"outline"}).text.strip()
    
    people = container.tbody.findAll('div',{'class':'txt-block'})
    
    p1=people[0].findAll('a')
    d=0
    director=''
    while d<len(p1):
        director+=str(p1[d].text.strip())
        if d==len(p1):
            break
        if d!=len(p1)-1:
            director+=str('|')
        d+=1
    p2=people[1].findAll('a')
    d=0
    stars=''
    while d<len(p2):
        stars+=str(p2[d].text.strip())
        if d==len(p2):
            break
        if d!=len(p2)-1:
            stars+=str('|')
        d+=1
        
    
    f.write(title.replace(","," ") + "," + runtime + "," + genre + "," + director + "," + stars + "," + outline.replace(",",";") + "\n")

## close file

In [29]:
f.close()

# Normalization

In [30]:
import pandas as pd

In [31]:
df = pd.read_csv('new_movie.csv', header=0,low_memory=False)

In [32]:
df.head(5)

,title,runtime,genre,director,stars,outline
0,Penguins (2019),76 min,Documentary,Alastair Fothergill|Jeff Wilson,Ed Helms,The story of Steve; an Adélie penguin; on a qu...
1,Breakthrough (2019),116 min,Biography|Drama,Roxann Dawson,Chrissy Metz|Topher Grace|Josh Lucas|Marcel Ruiz,When her 14-year-old son drowns in a lake; a f...
2,Hail Satan? (2019),95 min,Documentary,Penny Lane,Jex Blackmore|Nicholas Crowe|Lucien Greaves|Ma...,A look at the quick rise and influence of the ...
3,Little Woods (2018),105 min,Crime|Drama|Western,Nia DaCosta,Lily James|Tessa Thompson|Luke Kirby|Lance Red...,A modern Western about two sisters who work ou...
4,High on the Hog (2017),85 min,Action|Crime|Drama|Thriller,Tony Wash,Sid Haig|Joe Estevez|Robert Z'Dar|Fiona Domenica,With a potent strain of pot sweeping the City;...

In [33]:
df[['title','year']] = df['title'].str.split('(',expand=True)

In [34]:
df2 = df.drop('year',axis=1)

In [35]:
df2['new_movie_id']= df2.reset_index(drop=True).index

In [36]:
df3 = df2[['new_movie_id','title', 'runtime', 'genre', 'director','stars','outline']]
df3.head(5)

,new_movie_id,title,runtime,genre,director,stars,outline
0,0,Penguins,76 min,Documentary,Alastair Fothergill|Jeff Wilson,Ed Helms,The story of Steve; an Adélie penguin; on a qu...
1,1,Breakthrough,116 min,Biography|Drama,Roxann Dawson,Chrissy Metz|Topher Grace|Josh Lucas|Marcel Ruiz,When her 14-year-old son drowns in a lake; a f...
2,2,Hail Satan?,95 min,Documentary,Penny Lane,Jex Blackmore|Nicholas Crowe|Lucien Greaves|Ma...,A look at the quick rise and influence of the ...
3,3,Little Woods,105 min,Crime|Drama|Western,Nia DaCosta,Lily James|Tessa Thompson|Luke Kirby|Lance Red...,A modern Western about two sisters who work ou...
4,4,High on the Hog,85 min,Action|Crime|Drama|Thriller,Tony Wash,Sid Haig|Joe Estevez|Robert Z'Dar|Fiona Domenica,With a potent strain of pot sweeping the City;...

In [37]:
df3.to_csv('new_movie.csv', sep=',',index=False)

# Ins newest comment

In [38]:
import instaloader
import pandas as pd
from datetime import datetime
from itertools import dropwhile, takewhile

In [39]:
L = instaloader.Instaloader()

In [47]:
#twitter tags can not accept any space or symbols, delete all space or common used symbols in the movie title
list1 = df['title'].tolist()
list2 = [x.replace(' ','') for x in list1] # replace space with nothing
list3 = [x.replace(':','') for x in list2]
list4 = [x.replace('!','') for x in list3]
movietitles = [x.replace('?','') for x in list4]
movietitles

['Penguins',
 'Breakthrough',
 'HailSatan',
 'LittleWoods',
 'HighontheHog',
 'PetSematary',
 'Us',
 'TheBestofEnemies',
 'Unplanned',
 'HowtoTrainYourDragonTheHiddenWorld',
 'TheCurseofLaLlorona',
 'Kalank',
 'UndertheSilverLake',
 'Rafiki',
 'FastColor',
 'Stuck',
 'Shazam',
 'Dumbo',
 'CaptainMarvel',
 'FiveFeetApart',
 'WonderPark']

In [48]:
post_time = [] #set up all the column list
post_context = []
post_like = []
post_comments = []
post_hashtags = []

for movietitle in movietitles:
    posts = L.get_hashtag_posts(movietitle)
    i=0
    for post in posts:
        post_time.append(post.date) #use api to put every info I want in different list
        post_context.append(post.caption)
        post_like.append(post.likes)
        post_comments.append(post.comments)
        post_hashtags.append(post.caption_hashtags)
        i+=1
        if i==5: #for every movie title, only get 5 result, because the API is very slow
            break

In [49]:
d={'time':post_time,'context':post_context,'like_count':post_like,'comments_count':post_comments,'hashtags':post_hashtags}
#combine the list

In [50]:
import pandas as pd

In [55]:
df = pd.DataFrame(d) #change into dataframe

In [56]:
df.head(5)

,time,context,like_count,comments_count,hashtags
0,2019-04-17 23:10:46,Seeing DisneyNature's Penguins in IMAX! Always...,10,0,"[penguins, disneynature, documentary, nature, ..."
1,2019-04-17 23:10:12,Where’s your #tropical #oasis ?? #comment #tro...,30,0,"[tropical, oasis, comment, tropicalpenguinclot..."
2,2019-04-17 23:07:16,RIP Tampa and Pittsburgh.\n.\n.\n.\nLots of ta...,5,0,"[nhl, nhlmemes, nhlmeme, hockey, hockeymemes, ..."
3,2019-04-17 23:00:57,Catch you on the flip side! Follow Steve as he...,11,0,"[disneynaturepenguins, penguins, penguin, natu..."
4,2019-04-17 22:59:52,#penguin #penguins #penguinsofantarctica #peng...,7,0,"[penguin, penguins, penguinsofantarctica, peng..."

In [58]:
df.to_csv('raw_ins_new_comment.csv', sep=',',index=False) #outport dataframe